# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/node:10.13

    working_directory: ~/tasit/decentraland

    steps:
      - checkout:
          path: ~/tasit

      - run:
          name: update-npm
          command: "sudo npm install -g npm@latest"

      # Download and cache dependencies
      - restore_cache:
          keys:
            - dependency-cache-{{ checksum "package.json" }}
            # fallback to using the latest cache if no exact match is found
            - dependency-cache-

      - run:
          name: npm install
          command: npm install

      - save_cache:
          paths:
            - ./node_modules
          key: dependency-cache-{{ checksum "package.json" }}

      # run tests!
      - run:
          name: lint
          command: npm run lint

      - run:
          name: test
          command: npm test
