node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# You can have the following .env* files in your project:

# .env – for default (fallback) values, tracked by VCS
# .env.development – for development environment, tracked by VCS
# .env.test – for test environment, tracked by VCS
# .env.production – for production environment, tracked by VCS
# .env.local – for individual default values, ignored by VCS
# .env.development.local – for individual development environment values, ignored by VCS
# .env.test.local – for individual test environment values, ignored by VCS
# .env.production.local – for production environment values (DB passwords, API keys, etc.), ignored by VCS

# local .env* files
.env.local
.env.*.local

.idea